.dli_box_in {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 1.15em;
    height: 1.15em;
  }
  
  .dli_box_in::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.46em;
    border: 0.1em solid currentColor;
    border-top: 0;
    border-radius: 0 0 0.15em 0.15em;
    box-sizing: border-box;
  }
  
  .dli_box_in > span {
    position: relative;
    width: 0.1em;
    height: 0.625em;
    background: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.353em;
    margin: auto;
  }
  
  .dli_box_in > span::before {
    content: '';
    width: 0.40625em;
    height: 0.40625em;
    border: 0.1em solid currentColor;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    position: absolute;
    left: 50%;
    bottom: -0.05em;
    box-sizing: border-box;
  }
  .download_btn{
    padding: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
  }